root = true

[*.{kt,kts}]
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 160
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

ktlint_standard_filename = disabled
ktlint_standard_package-name = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_class-naming = disabled
ktlint_compose_modifier-missing-check = true
ktlint_compose_modifier-without-default-check = true
ktlint_compose_parameter-order-check = true
ktlint_compose_mutable-parameters-check = true
ktlint_compose_remember-missing-check = true
ktlint_compose_compositionlocal-allowlist = disabled
ktlint_compose_parameter-naming = disabled
ktlint_compose_multiple-emitters-check = disabled

[**/build/**]
ktlint_disabled = true

[**/generated/**]
ktlint_disabled = true
